@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 700px solid white;
  padding: 700px solid black;
}

body {
  background-color: rgb(25, 14, 44);
  color: rgb(253, 251, 255);
  font-family: "Epunda Sans", sans-serif;
  font-size: 130%;
}

header {
  padding: 1%;
  background-color: rgb(43, 3, 73);
  text-align: center;
}
main {
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

footer {
  padding: 3%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea {
  border: solid blueviolet;
  background-color: transparent;
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
  }
}

table {
  border: 15px solid blueviolet;
  padding: 15px;
}
th {
  padding: 15px;
  text-align: center;
}
td {
  padding: 15px;
  text-align: center;
}
footer {
  background-color: rgb(48, 22, 73);
  text-align: center;
}
footer a {
  text-decoration: none;
  color: rgb(198, 151, 241);
}
select {
  background-color: transparent;
  border: 2px solid blueviolet;
  height: 30px;
  padding: 30px;
  border-radius: 0, 3rem;
}
input[type="file"] {
  width: 100%;
  height: 30px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(161, 95, 223);
}
img {
  border-radius: 50%;
  img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 30%;
  }
}

fieldset {
  border: 2px solid rgb(138, 43, 226);
  border-radius: 3% solid blueviolet;
  fieldset {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
  }
}
button {
  background-color: rgb(144, 59, 224);
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
